<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>WFC SPAV POC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/webjars/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/3.3.7/js/*.js" type="text/javascript"></script>
    <script src="/webjars/angularjs/1.6.2/angular.js" type="text/javascript"></script>

    <script src="js/core.js" type="text/javascript"></script>
    <script src="js/angular-json-human.js" type="text/javascript"></script>
    <script src="js/lodash.js" type="text/javascript"></script>


    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="css/pure.css">
    <link rel="stylesheet" href="css/angular-json-human.css">
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div layout:fragment="content">
        <p></p>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>