<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="webjars/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="webjars/bootstrap-fileinput/js/locales/zh.js"></script>

<script src="webjars/bootstrap-fileinput/js/plugins/piexif.js"></script>
<script src="webjars/bootstrap-fileinput/js/plugins/purify.js"></script>
<script src="webjars/bootstrap-fileinput/js/plugins/sortable.js"></script>

<link rel="stylesheet"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="webjars/bootstrap-fileinput/css/fileinput.min.css" />
	<link rel="stylesheet"
	href="webjars/bootstrap-fileinput/css/fileinput-rtl.css" />
<title>Sguess Home page</title>
<script type="text/javascript">
	$(function() {
		windows.alert("Hello");
		var control = $("#input1");
		var uploadrul = "/uploadFile";
		control.fileinput({
			language : 'zh', 
			uploadUrl : uploadrul,
			allowedFileExtensions : [ 'png' ],
			showUpload : true, 
			showCaption : false,
			browseClass : "btn btn-primary",     
			dropZoneEnabled : true,
			minImageWidth: 50, 
			minImageHeight: 50,
			maxImageWidth: 100,
			maxImageHeight: 100,
			maxFileSize: 0,
			//minFileCount: 0,
			maxFileCount : 100,
			enctype : 'multipart/form-data',
			validateInitialCount : true,
			previewFileIcon : "<i class='glyphicon glyphicon-king'></i>",
			msgFilesTooMany : "Upload too many files",
		});
		
		$("#txt_file").on("fileuploaded",
				function(event, data, previewId, index) {
				});
	});
</script>
</head>
<body>
	<div class="row">
		 <label class="control-label">Select
			File</label> <input id="input1" type="file" class="file" />
	</div>
</body>
</html>