<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<!-- <div th:insert="fragments/header :: header"></div>  -->

	<div>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Internal Headers</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="hero-unit">
			<h1>Test</h1>
		</div>
		<div th:replace="fragments/footer :: footer">&copy; 2016 The
			Static Templates</div>
	</div>
</body>
</html>